version: '3.1'

services:

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ks_api_admin
      MONGO_INITDB_ROOT_PASSWORD: ks@2026_Ap!